<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Linkando o CSS -->
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <ul id="task-list">
        <% tarefas.forEach(tarefa => { %>
        <li>
            <%= tarefa.nome %> - Status: <%= tarefa.status ? 'Completa' : 'Pendente' %>
            <a href="/tarefas/<%= tarefa.id %>/editar">Editar</a>
            <form action="/tarefas/<%= tarefa.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Excluir</button>
            </form>
        </li>
        <% }) %>
    </ul>

    <h2>Adicionar Nova Tarefa</h2>
    <form action="/tarefas" method="POST">
        <input type="text" name="nome" required placeholder="Nome da Tarefa">
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
